{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="top-div">
        <p class="top-btn" id="eng-select">English</p>
        <p class="top-btn" id="met-select">Metric</p>
    </div>
    <div class="forms-div">
        <section class="form-sect" id="eng-form-sect">
            <form class="form" id="eng-form"> {% csrf_token %}
                <div class="upper-div">
                    <div>
                        <label for="ft">Feet</label>
                        <input type="number" name="ft" min="1">
                    </div>
                    <div>
                        <label for="in">Inches</label>
                        <input type="number" name="in" min="1">
                    </div>
                </div>
                
                <label for="lb">Pounds</label>
                
                <input type="number" name="lb" min="1">
            
                <input class="submit-btn" id="eng-submit" type="submit" value="Calculate">
                
            </form>

        </section>
        
            
        <section class="form-sect"id="met-form-sect">
            <form class="form" id="metric-form">{% csrf_token %}
                <label for="cm">Centimeters</label>
                <input type="number" name="cm" min="1">
                <label for="kg">Kilograms</label>
                <input type="number" name="kg" min="1">
                
                <input class="submit-btn" id="metric-submit" type="submit" value="Calculate">
            </form>

        
        
        </section>
        <div class="results">
            <p class="words">Your BMI:</p>
            <p id="bmi"></p>

        </div>
        
    </div>

   





    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>
</html>